In [9]:

import pandas as pd
from matplotlib import pyplot as mplot

    *PRD - Production (in Million Tonnes)
    *PCA - Per Capita Availability (in Grams per Day)

In [4]:
data_sheet = pd.read_csv('databook.csv')

In [5]:
data_sheet.describe()

              PRD         PCA
count   29.000000   29.000000
mean   107.465517  260.000000
std     40.908576   65.989718
min     55.600000  178.000000
25%     75.400000  210.000000
50%     97.100000  241.000000
75%    132.400000  299.000000
max    198.400000  406.000000

In [6]:
data_sheet.shape

(29, 3)

In [7]:
data_sheet.head()

      Year   PRD  PCA
0  1991-92  55.6  178
1  1992-93  58.0  182
2  1993-94  60.6  186
3  1994-95  63.8  192
4  1995-96  66.2  195

In [11]:
mplot.hist(year, PRD)

NameError: name 'Year' is not defined